@model List<FindYourStoryApp.Models.Order>

@{
    ViewData["Title"] = "Order Page";
}
<h1>Orders</h1>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                Order ID
            </th>
            <th>
                Date Placed
            </th>
            <th>
                Amount
            </th>
            <th>
                Status
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.OrderId
                </td>
                <td>
                    @order.OrderDate
                </td>
                <td>
                    @order.TotalAmount
                </td>
                <td>
                    @order.PaymentStatus
                </td>
                <td>
                    @order.ShippingAddress.AddressLine1, @order.ShippingAddress.AddressLine2, @order.ShippingAddress.City, @order.ShippingAddress.Country
                </td>
            </tr>
        }
    </tbody>
</table>